@model ApplicationCore.Models.MovieCardModel

<div class="card mb-4">
    <img class="card-img-top" src="@Model.PosterUrl" alt="@Model.Title">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <a href="@Url.Action("Details", "Movies", new { id = @Model.Id })" class="btn btn-primary">Details</a>
    </div>
</div>
